

	     
	<div class="bar bar-header has-tabs-top bar-positive">
      <div class="h1 title">新闻头条</div>
    </div>

    <div class="tabs-striped tabs-top tabs-background-positive tabs-color-light">
      <div class="tabs">
        <a class="tab-item {{id==1? 'active' : ''}}"   ng-click="fn(1)" ng-href='#/index/list'>
          <i class="icon ion-home"></i>
          测试
        </a>
        <a class="tab-item {{id==2? 'active' : ''}}"  ng-click="fn(2)" ng-href='#/index/yule'>
          <i class="icon ion-star"></i>
          收藏
        </a>
        <a class="tab-item {{id==3? 'active' : ''}}"  ng-click="fn(3)" href="#">
          <i class="icon ion-gear-a"></i>
          设置
        </a>
      </div>
    <!--</div>-->
    	 
    	
    	<ion-content style='top: 96px;'>
    <div ui-view></div>
    </ion-content>