
        <a class="item item-avatar" ng-repeat="new in news"  ng-href="{{new.link}}">
          <img ng-show="new.havePic"  ng-src="{{new.havePic? new.imageurls[0].url : '//www.runoob.com/try/demo_source/venkman.jpg'}}">
          <h2>{{new.title}}</h2>
          <p>{{new.desc}}</p>
        </a>

        <!--<a class="item item-avatar" href="#">
          <img src="//www.runoob.com/try/demo_source/spengler.jpg">
          <h2>Egon</h2>
          <p>We're gonna go full stream.</p>
        </a>

        <a class="item item-avatar" href="#">
          <img src="//www.runoob.com/try/demo_source/stantz.jpg">
          <h2>Ray</h2>
          <p>Ugly little spud, isn't he?</p>
        </a>

        <a class="item item-avatar" href="#">
          <img src="//www.runoob.com/try/demo_source/winston.jpg">
          <h2>Winston</h2>
          <p>That's a big Twinkie.</p>
        </a>

        <a class="item item-avatar" href="#">
          <img src="//www.runoob.com/try/demo_source/tully.jpg">
          <h2>Tully</h2>
          <p>Okay, who brought the dog?</p>
        </a>

        <a class="item item-avatar" href="#">
          <img src="//www.runoob.com/try/demo_source/barrett.jpg">
          <h2>Dana</h2>
          <p>I am The Gatekeeper!</p>
        </a>

        <a class="item item-avatar" href="#">
          <img src="//www.runoob.com/try/demo_source/slimer.jpg">
          <h2>Slimer</h2>
          <p>Boo!</p>
        </a>-->
